VITE_APP_BASE_URL="your-api-server-address"
VITE_ENCRYPT_KEY="your-encrypt-key"
# SOCKET_UTL="https://socket-io-chat-application.herokuapp.com/"
# SOCKET_UTL="https://socket-io-chat-app-1.herokuapp.com/"
# VITE_SOCKET_UTL="wss://echo.websocket.org"
VITE_SOCKET_UTL="localhost:4000"
