@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
}

:root {
  --primary-bg: var(--color-white); /* Background color for light mode */
  --primary-text: var(--color-neutral-900); /* Text color for light mode */
}

.dark {
  --primary-bg: var(--color-neutral-800); /* Background color for dark mode */
  --primary-text: var(--color-neutral-100); /* Text color for dark mode */
}

@theme {
  --color-bg-primary: var(--primary-bg); /* Token for background */
  --color-text-primary: var(--primary-text); /* Token for text */
}

#root {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }
}
